.centred {
    position: absolute;
    left: 10%;
    top: auto;
    /* transform: translate(-50%, -50%); */
}

table {
    border-collapse: collapse;
    text-align: center;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
}

table{
    background-color: lightgrey;
}

button{
    color: black;
    background-color: darkgrey;
}

.sup-fontsize {
    font-size: 90%;
}

th {text-align:center}
